<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
		tools:ignore="ScopedStorage" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <application tools:replace="android:theme,android:label" android:icon="@drawable/blowtorch_logo3" android:label="${appLabel}" android:allowBackup="false" android:process="${appProcess}" android:hardwareAccelerated="true" android:theme="@style/Theme.AppCompat.Dark.NoActionBar" android:pageSizeCompat="enabled" android:usesCleartextTraffic="true">
    	<meta-data android:value="167" android:name="BLOWTORCH_LUA_LIBS_VERSION"/>
    	<activity android:name="com.resurrection.blowtorch2.FreeLauncher"
    	          android:label="${appLabel}"
    	          android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.resurrection.blowtorch2.lib.launcher.Launcher"
                  android:label="BlowTorch"
                  android:exported="false">
        </activity>
        <activity android:name="com.resurrection.blowtorch2.lib.window.MainWindow"
        		  android:theme="@style/BlowTorch.GameWindow"
        		  android:windowSoftInputMode="adjustNothing|stateHidden"
        		  android:label="BlowTorch"
				  android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize"
        		  android:launchMode = "singleTask"
        		  android:exported="false">
        		  <intent-filter>
        		  	<action android:name="com.resurrection.blowtorch2.lib.window.MainWindow.NORMAL_MODE"/>
        		  	<category android:name="android.intent.category.DEFAULT"/>
        		  </intent-filter>
        </activity>
        
        <service tools:replace="android:process" android:name="com.resurrection.blowtorch2.lib.service.StellarService"
        		 android:process=":stellar" android:exported="false"
        		 android:foregroundServiceType="specialUse">
        		 <intent-filter>
        		 	<action android:name="com.resurrection.blowtorch2.lib.service.IStellarService.MODE_NORMAL"/>
        		 </intent-filter>
        </service>
        		  

    </application>
    


</manifest> 
